<ion-view title="Slide">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" scroll="false">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true">
            <ion-slide>
                <div class="box blue">
                    <h1>BLUE {{ slida.one }}</h1>

                    <h1>BLUE {{ slida.one }}</h1>

                    <h1>BLUE {{ slida.one }}</h1>

                    <h1>BLUE {{ slida.one }}</h1>

                    <h1>BLUE {{ slida.one }}</h1>

                    <h1>BLUE {{ slida.one }}</h1>

                    <h1>BLUE {{ slida.one }}</h1>

                    <h1>BLUE {{ slida.one }}</h1>

                </div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow">
                    <h1>YELLOW {{ slida.two }}</h1>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box pink">
                    <h1>PINK {{ slida.three }}</h1>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <div class="tabs tabs-icon-top" ng-controller="slidaFootaCtrl">

        <a class="tab-item" ng-click="previousSlide()">
            <i class="icon ion-arrow-left-a"></i>
            Previous
        </a>
        <a class="tab-item" ng-click="nextSlide()">
            <i class="icon ion-arrow-right-a"></i>
            Next
        </a>
    </div>
</ion-view>
