/* Empty. Add your own CSS if you like */

.box {
    height: 400px;
    margin-top: 50px;
    color: white;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}


.box h1 {
    color: white;
    text-align: center;
    padding-top: 65%;
}
.box.blue {
    background-color: blue;
}

.box.yellow {
    background-color: #909320;
}

.box.pink {
    background-color: pink;
}